@import "compass/css3";
@import "compass/typography";

*{@include box-sizing(border-box);}

$gutters: 1em/4;


body {
  background-image: url("http://wallpaperbeta.com/wallpaper_1920x1200/wave_coast_palm_landscapes_1920x1200_hd-wallpaper-46932.jpg");
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
  background-size: cover;  
  min-height: 100%;
  max-width: 100%;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: $gutters*2;
}


.wrapper {
    padding-top: $gutters*2;
    width: 100%;
    max-width: 100%;
}


.container{
  min-height: 10px;
  padding-left: $gutters *2;
  padding-right: $gutters *2;
  padding-top: $gutters;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding-bottom: $gutters;
}


.row{
  @include display-flex(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  margin-left: -$gutters;
  margin-right: -$gutters;
}

.col {
  @include display-flex(flex);
  min-height: 40px;
  padding-right: $gutters;
  padding-left: $gutters;
  margin-top: $gutters; 
  box-sizing: border-box;
  flex: 1 0 auto;
}


.module {
  width: 100%;
  padding: 5px;
  
  img{
    width: 100%;
  }
}


.col-1-1 {
  flex-basis: 100%;
  max-width: 100%;
}

/*
.col-1-2{
  flex-basis: 50%;
  max-width: 50%;
}
*/

.col-1-3{
  flex-basis: 33.33%;
  max-width: 33.33%;
}
/*
.col-1-4{
  flex-basis: 25%;
  max-width: 25%;
}

.col-1-5{
  flex-basis: 20%;
  max-width: 20%;
}

.col-1-6{
  flex-basis: calc(100% / 6);
  max-width: calc(100% / 6);
}

.col-2-3 {
  flex-basis: 66.66%;
  max-width: 66.66%;
}
*/


#quoteHolder {
  margin-top: 1px;
  border-radius: 10px;
  border: 1px solid #D6EEEC;
  padding: 15px;
  background: transparent;
  color: rgba(white,0.9);
  font-family: monospace;
}

#quoteHolder1 {
  margin-top: 1px;
  border-radius: 10px;
  border: 1px solid #D6EEEC;
  padding: 15px;
  background: transparent;
  color: rgba(white,0.9);
  font-family: monospace;
}

#quoteHolder2 {
  margin-top: 1px;
  border-radius: 10px;
  border: 1px solid #D6EEEC;
  padding: 15px;
  background: transparent;
  color: rgba(white,0.9);
  font-family: monospace;
}

#quoteHolder3 {
  margin-top: 1px;
  border-radius: 10px;
  border: 1px solid #D6EEEC;
  padding: 15px;
  background: transparent;
  color: rgba(white,0.9);
  font-family: monospace;
}

/*
@media screen and (max-width: 750px) {  
  .col.md {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {  
  .col.sm {
    flex-basis: 100%;
    max-width: 100%;
  }  
}



@media screen and (max-width: 480px) {  
  .col-1-5.xs {
    flex-basis: 20%;
    max-width: 20%;
    font-size: 3vw !important;
  }
  .col-1-5.xs-1-2 {
    flex-basis: 50%;
    max-width: 50%;
    font-size: 3vw !important;
  }
    
    
  .col-1-2.xs {
    flex-basis: 50%;
    max-width: 50%;
    font-size: 3vw !important;
  }    
.col.col-1-4.xs-1-2  {
    flex-basis: 50%;
    max-width: 50%;
    min-width: 50%;
    font-size: 3vw !important;
  }  
    
    .xs-1-2 {
    flex-basis: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
    }
}  


.as-flex-start {
  align-self: flex-start;
}
.as-flex-end {
  align-self: flex-end;
}

.as-flex-center {
  align-self: center;
}
.as-flex-base {
  align-self: baseline;
}

*/

.white {
  background: #eee;
  color: #3d3d3d;
}

.blue {
  background: DodgerBlue;
  color: rgba(white,0.9);
}

.clear {
  background: Clear;
  color: rgba(white,0.9);
}

.light {
  background: DodgerBlue;
  color: rgba(white,0.9);
}


/*
.red {
  background: tomato;
  color: rgba(white,0.9);
}

.black {
  background: #3d3d3d;
  color: rgba(white,0.9);
}
*/



@mixin font($font, $style: normal, $weight: normal) {
    font-family: $font;
    font-style:  $style;
    font-weight: $weight;
}


@include establish-baseline;
$base-font-size: 20px;
$base-line-height: 24px;

//fonts

$default-sans-font:'Helvetica', sans-serif;
$serif-font:'Roboto Slab', serif;
$default-font-color: rgba(white,0.9);


h1 {
  font-weight: 700;
  @include adjust-font-size-to(40px);
  @include rhythm(0, 0, 0, 0, 42px);
  @include trailing-border(1px, 1, 40px, solid);
}


h3 {
  @include font($serif-font, normal, 700);
	@include adjust-font-size-to($base-font-size);
	@include rhythm(0, 0, 0, 0, $base-font-size);
}

h4 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .125em;
	@include adjust-font-size-to($base-font-size);
	@include rhythm(0, 0, 0, 0, $base-font-size);
	@include trailing-border(1px, 0, $base-font-size, solid);
}

p {
  @include font($serif-font);
  @include adjust-font-size-to($base-font-size);
  @include rhythm(0, 0, 0, 0, $base-font-size);
}


blockquote {
  border-left: 5px solid rgba(black, 0.3);
  padding-left: 16px;
  @include font($serif-font);
  font-style: italic;
  @include adjust-font-size-to($base-font-size * 1.2);
  @include rhythm(0, 0, 0, 1, $base-font-size * 1.2);	
}

